@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  color: white;
}

div{
  margin: 0;
  padding: 0;
  text-align: center;
}

.length> h4{
  color: blue;
  font-size: x-large;
}

#PClock{
  width: 42em
}

div>h1{
  font-size: 120px;
}

i{
  font-size: large;
  color: wheat;
  margin: 6px;
}

.label{
  background-color: wheat;
}

.button, #root>div{
  background-color: blueviolet;
}

.button:hover{
  color: aqua;
}

.clickable{
  transition: ease-in 0.1s;
  border-radius: 12px;
  margin-left: 1%;
  margin-right: 1%;
}

.clickable:hover{
  background-color: rgb(229, 102, 255);
}